.contactpage
{
    background-image:url("../../../assets/images/contact.jpg");
    background-position :center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   
}