

<div   class="main" style="">
<nav class="navbar navbar-expand-lg bg-body-primary" style="background-color: rgb(205, 72, 106);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">  <b> HOME </b>   </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="buynow">  <b> BRANDS </b>   </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup">  <b>   SIGN UP </b>  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">  <b> CONTACT  </b>  </a>
          </li>
        </ul>
        <span class="navbar-text">
          <div  class="text">
            <div>
            <h1> MOBI STORE </h1>
             </div>
          
          <div>
           <img src="../../../assets/images/mobile.png" alt="" style="height: 100px;">
          </div>
        </div>
        </span>
      </div>
    </div>
  </nav>
  </div>
