
<div class=" singlepage">
  <div class="sd">
    <h1>{{s[0].District}}</h1>
</div>
<div class="si">
    <img src="{{s[0].image}}" >
</div >
<div class="h1"><b><u><h1>
    {{s[0].heading}}
</h1></u></b></div>
<div class="sdd">
    <h6>{{s[0].description}}</h6>
</div>
<div class="d2">
    <h2> 
        {{s[0].description2}}
    </h2>
</div>
<div class="d3">
    <h2>
        {{s[0].description3}}
    </h2>
</div>
<div class="d4">
    <h2>
        {{s[0].description4}}
    </h2>
</div>
<div class="d5">
    <h2>
        {{s[0].description5}}
    
    
    </h2>
</div>
<br><br><br><br><br>
